@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --light-gray: #9b9b9b;
    --small-label-color: #747474;
}



body {
    font-family: "Roboto", sans-serif;
    background: #e7e7e7;
    padding: 1em;
}

label:not(.small_label, .check_label) {
    font-weight: 600;
}

.small_label {
    font-size: 13px;
    color: var(--small-label-color);
    margin-top: 0.5em;
    margin-left: 0.1em;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    box-shadow: 3px 3px 5px #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
}



.form_header {
    padding-bottom: 50px;
    border-bottom: 1px var(--light-gray) solid;
}

.form_control {
    margin-top: 40px;
}

.hor {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.hor div {
    width: 100%;
}

.ver {
    display: flex;
    flex-direction: column;
}


div.first_name input {
    width: 100%;
}

.red_stars {
    color: red;
    font-weight: 800;
}

input, select, textarea {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 7px;
    border: 1px solid var(--light-gray);
    outline: none;
    margin-top: 1em;
}

input:focus , select:focus , textarea:focus, 
input:hover , select:hover, textarea:hover {
    outline: 2px solid lightblue;
}

.small_input {
    max-width: 300px;
}

.city-state {
    margin: 0;
}





textarea {
    resize: none;
    font-family: inherit;
    font-size: 1em;
}


.resume_input, textarea {
    height: 150px;
}

.resume_input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted var(--light-gray);
}

.resume_div {
    margin-bottom: 3em;
}

.submit_box {
    padding-top: 50px;
    text-align: center;
    border-top: 1px solid var(--light-gray);
}

.submit_button {
    padding: 1em 2.5em;
    background: rgb(100, 228, 100);
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 10px;

}

.submit_button:hover {
    background: lightgreen;
}


@media screen and (min-width: 800px) {
    .hor {
        flex-direction: row;
    }

    .right {
        align-self: flex-end;
        width: 100%;
    }
    
    .right_label {
        margin-left: 4em;
    }
}
